body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}
header{
    display: block;
    overflow-y: hidden;
    align-content: start;
    width: 100vw;
    height: 3rem;
    background-color: black;
}
.logospan {
    display: block;
    width: fit-content;
    margin : 0.67rem 1.5rem;
    color: white;
    font-size: 1.5rem;
}
h1 {
    color: #333;
}
.buttonsdiv {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 50vh;
    align-items: center;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}