body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    display: block;
    overflow-y: hidden;
    align-content: start;
    width: 100vw;
    height: 3rem;
    background-color: black;
  }

.logospan {
    display: block;
    width: fit-content;
    margin: 0.67rem 1.5rem;
    color: white;
    font-size: 1.5rem;
}

.logoutbtn {
    float: right;
}

/* CSS for buttons */
.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}