* {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card {
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-header {
  text-align: center;
  margin: 0.3rem;
}

.display-header {
  text-align: center;
  margin: 0.3rem;
}

.device-card {
  border-radius: 10px;
}

.admin-container {
  display: flex;
  width: 50%;
  background-color: rgb(255, 255, 255);
  align-items: center;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  flex-direction: column;
  align-items: center;
}

.admin-container p {
  margin: 0.5rem;
}

.font-bold {
  font-weight: bold;
}